.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .card {
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 15px 15px rgba(108, 99, 255, 0.1);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-label {
    font-size: 20px;
  }
  
  .form-control {
    font-size: 18px;
  }
  
  .button {
    width: 100%;
    padding: 10px;
    background-color: #6c63ff; /* Updated color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
  }
  
  .button:hover {
    background-color: #564fb9; /* Darker shade for hover */
  }
  
  
  .invalid-feedback {
    color: #dc3545;
    font-size: 14px;
  }
  